
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: black;
    
}
.navbar{
    background-color: rgb(0, 0, 0);
    display: flex;
    padding: 7px;
    margin: 2px;
    justify-content: space-between;
    align-items: center;

}

.dDJltW {
    fill: #fff;
    stroke: transparent;
    margin: 10px;
}

 .navbar li{
    float:right;
    justify-content: space-between;

}
.search input{
    padding: 14px 24px;
    width: 350px;
    margin-left: 150px;
    background-color: #1f1f1f;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}
.search input::placeholder {
    color: rgba(255, 255, 255, 0.539);
}
.button input{
    padding: 10px 16px;
    border-radius: 50px;
    border: none;
    background-color: white;
}
#btn1{
    background-color: #000;
    color: white;
}
.container {
    padding: 10px;
    border-radius: 21px;
    display: flex;
    column-gap: 10px;
}
.sidebar{
    width: 400px;
    height: auto;
    background-color: #80808024;
    padding: 10px;
    border-radius: 5px;
    
}
.sidebar h3{
    color: white;
    /* width: 12px; */
    height: 5px;
    font-family: sans-serif;
    padding: 20px 30px;

}
.sidebar h3 span {
    float: right;
}
.card{
    color: white;
    padding: 18px 30px;
    background-color: #1f1f1f;
    border-radius: 10px;
}
.card button{
    padding: 10px 16px;
    border-radius: 50px;
    border: none;
    background-color: white;
}
.btn3{
    backdrop-filter: blur(10px);
    
}
.about{
    color: #f5f3f3;
}
.main {
    width: 90%;
    background-color: #80808024;
    color:white;
    padding: 20px 30px;
}
.info h5{
    font-size: 17px;
}
.artist-cont .info{
    padding: 10px;
}
p{
    padding: 3px;
    color: gray;
}
.main h3 span{
    float: right;
}
.artist-cont{
    display: flex;
    margin-top: 20px;
    align-items: center;
}
.artist {
    width: 200px;
    height: 200px;
}
.important h3 span{
    float: right;
}
.artist .img {
    /* padding: auto; */
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}
.artist .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.artists {
    width: 200px;
    height: 200px;
}
.artists .img {
    /* padding: auto; */
    width: 150px;
    height: 150px;
    /* border-radius: 50%; */
    overflow: hidden;
}
.artists .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cont{
    display: flex;
    justify-content: space-between;
}


    